.plant-detail-container {
  padding: 20px;
  background-color: #b4bfa4bd;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
}

.plant-detail-info h6 {
  margin:  5px 0;
}


.plant-detail-description {
  width: 50%;
  text-align: left;
  padding: 40px;
  background-color: #ebe2d3;
  border: 10px dashed white;
  border-radius: 20px;
}

.plant-detail-image-container {
  width: 50%;
}