.carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 10px; 
    align-items: center;
}

.carousel-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px; 
}

.carousel-button img {
    width: 30px;
    height: 30px;
}

.image-slide {
    flex: 1; 
    margin: 0 10px; 
}

.image-slide img {
    width: 100%; 
    max-width: 100%; 
    max-height: 450px;

}