
.logo {
  height: 5em;
  /* padding: 0.5em; */
  /* will-change: filter; */
  /* transition: filter 300ms; */
}
.logo:hover {
    filter: drop-shadow(0 0 0.5em #4b684d);
  }

.navOption >h5{
  color: #4b684d;
}

.navOption >h5:hover{
  color: #b4bfa4;
}
.navbar{
  background-color: #fffff5;
 
}
