.logo {
  height: 5em;
  /* padding: 0.5em; */
  /* will-change: filter; */
  /* transition: filter 300ms; */
}
.logo:hover {
    filter: drop-shadow(0 0 0.5em #b4ecaeaa);
  }

.navOption{
  color: #4b684d;
}
