.footer-container {
    
    margin-top: 110px;
    background-color: #ebe2d34f;
   border-radius: 10px;
}

.footer-container li {
    flex: 1;
    text-align: center; 
    padding: 5px; 
    margin: 0 5px; 
    background-color: #b4bfa469;
    border-radius: 20px;
}
