#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fffff5;
}


body {
  background-color: #fffff5;
}

h1 {
  margin: 40px 20px;
}

h5,
h6,
h4 {
  margin: 5px;
  color: #4b684d;
}

h2 {
  color: #4b684d;
}

a {
  text-decoration: none;
}